@font-face {
    font-family: Bumblebee;
    src: url(bumblebee.TTF);
}
@font-face {
    font-family: Intergalactic;
    src: url(intergalactic.TTF);
}
@font-face {
    font-family: Decoder;
    src: url(decoder.ttf);
}

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Intergalactic;
  }
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.title, span {
    font-family: Bumblebee;
    font-size: 100px;
    padding-top: 175px;
    padding-bottom: 175px;
    text-align: center;
}
body {
    background-image: url(background.jpg);
    backdrop-filter: blur(25px);
}
.bodytext {
    background-image: linear-gradient(#00e673, #00994d);
    padding-bottom: 50px;
}
.bodytext h2 {
    font-family: Intergalactic;
    font-size: 50px;
    padding-left: 20px;
    
}
.bodytext h3, a, th {
    font-family: Intergalactic;
    font-size: 40px;
    padding-left: 20px;
    
}
.bodytext p, ul, li, td {
    font-family: Decoder;
    padding-left: 20px;
    font-size: 30px;
}

.bodytext td {
    font-family: Decoder;
    padding-left: 20px;
    font-size: 20px;
}

.finalOutcome p {
    float: left;
    width: 75%;

}
.finalOutcome img {
    float: right;
    padding-right: 50px;
    border-radius: 20px;
    size: 100%;
    padding-bottom: 20px;
   
}
.endUsers p {
    padding-top: 20px;
    align-items: left;
    size: 80%;
}

.question {
    float: left;
    width: 50%;
}
.answer {
    float: right;
    width: 50%;
}
.developmentsection p, .improvements p {
    width: 60%;
    float: left;
}
.developmentsection img, .improvements img {
    float: right;
    padding-right: 20px;
}
td {
    min-width: 200px;
    text-align: center;
    padding: var(--padding-small);
}
.bodytext h3 {
    size: 30px;
}
.testing table {
    border-collapse: collapse;
    margin: auto;
}
h4 {
    font-family: Intergalactic;
    font-size: 20px;
    padding-left: 20px;
}
.feedbackquestion p {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.title {
    position: relative;
  }
.title h1 {
    position: relative;
    display: inline-block;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
.developmentlink a {
    color: #f2f2f2;
    text-decoration: none;
}
.navbar a:hover {
    color: black;
    text-align: center;
    padding: 14px 16px;
  }